<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://princeomonu.com/ns/1.0" id="com.princeomonu.bmi" version="1.0.1">
	<name>
		BMI Calculator
	</name>
	<description>
		Simple App to keep track of your Body Mass Index.
	</description>
	<author href="http://princeomonu.com" email="omonuitanyi@gmail.com">
		Omonu Prince Itanyi
	</author>

	<platform name="android">
    <gap:plugin name = "org.apache.cordova.splashscreen" />
		<allow-intent href="market:*" />
		<preference name="android-minSdkVersion" value="14" />
		<preference name="android-targetSdkVersion" value="22" />
		<preference name="SplashScreen" value="screen" />
		<preference name="SplashScreenDelay" value="10000" />
		<preference name="ShowSplashScreenSpinner" value="false" />
		<preference name="FadeSplashScreen" value="false" />
		<preference name="AutoHideSplashScreen" value="false" />
		<preference name="SplashMaintainAspectRatio" value="true" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
		<splash qualifier="port-hdpi" src="res/screen/hdpi.png" />
		<splash qualifier="port-ldpi" src="res/screen/ldpi.png" />
		<splash qualifier="port-mdpi" src="res/screen/mdpi.png" />
		<splash qualifier="port-xhdpi" src="res/screen/xhdpi.png" />
		<icon qualifier="hdpi" src="res/android/mipmap-hdpi/ic_launcher.png" />
		<icon qualifier="ldpi" src="res/android/mipmap-ldpi/ic_launcher.png" />
		<icon qualifier="mdpi" src="res/android/mipmap-mdpi/ic_launcher.png" />
		<icon qualifier="xhdpi" src="res/android/mipmap-xhdpi/ic_launcher.png" />
		<icon qualifier="xxhdpi" src="res/android/mipmap-xxhdpi/ic_launcher.png" />
		<icon qualifier="xxxhdpi" src="res/android/mipmap-xxxhdpi/ic_launcher.png" />
	</platform>
	<access origin="*" />
	<!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
	<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
	<plugin name="cordova-plugin-whitelist" version="1" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
</widget>
